blessings
charm-tools
coverage
juju-deployer>=0.6.0
lazr.authentication
mock
nose
requests<=2.9.1
simplejson>=3.8.0
# https://github.com/juju-solutions/bundletester/issues/108
websocket-client<=0.40.0
# https://github.com/juju-solutions/bundletester/issues/102
juju-wait==2.5.0
